# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# Python cache
__pycache__/
*.pyc

